@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  // scroll-behavior: smooth;
  // overflow-x: hidden; //disables to enable fixed header
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main: #dc944c;
  // --red: @apply text-red-500;
  --red: red;
}

// Global utils
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// index-ts - therefore global
.border-grad {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left bottom, #dc944c, black, #dc944c);
}

.border-grad-2 {
  border: 5px solid;
  border-image-slice: 1;
  // border-image-source: linear-gradient(to left bottom, #dc944c, #dc944c, rgb(220, 148, 76, 0.75), #dc944c, #dc944c);
  border-image-source: linear-gradient(to left bottom, #dc944c, rgb(220, 148, 76, 0.75), #dc944c);
}
// -- index-ts - therefore global
// -- Global utils

// Landing
.cinzel {
  font-family: 'Cinzel Decorative', cursive;
}
.developer {
  // font-family: 'Audiowide', cursive;
  font-family: 'Righteous', cursive;
}
// -- Lamding

// About - ProfileImage
.inner-shad {
  // box-shadow: inset 0 0 70px 15px #ef4444;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 0) 33%,
    rgba(255, 0, 0, 0.5) 66%,
    rgb(255, 0, 0) 100%
  );
}
// -- About - ProfileImage

// Swiper - Work and Skills
.swiper-pagination {
  // position: static !important;
  // align-self: center;
  // border: 1px solid red;
  // bottom: 1rem;
}

.swiper-pagination-bullet {
  background-color: white !important;
  height: 0.75rem;
  width: 0.75rem;
}

.swiper-pagination-bullet-active {
  background-color: #dc944c !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #dc944c !important;
}

// -- Swiper - Work and Skills
