@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative:wght@400;700;900&family=Righteous&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

html,
body {
  max-width: 100vw;
  // scroll-behavior: smooth;
  // overflow-x: hidden; //disables to enable fixed header
}

a {
  color: inherit;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5 {
  // font-weight: 500;
}

h5 {
  // margin-bottom: 3rem;
  // font-size: 1.2rem;
}

h1 {
  // font-size: 2.5rem;
  // text-align: center;
}

// Global utils
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// index-ts - therefore global
.wrapper-height {
  height: calc(90vh - 4rem);
}

.border-grad {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left bottom, #dc944c, black, #dc944c);
}
// -- index-ts - therefore global
// -- Global utils

// Landing
.cinzel {
  font-family: 'Cinzel Decorative', cursive;
}
.developer {
  // font-family: 'Audiowide', cursive;
  font-family: 'Righteous', cursive;
}
// -- Lamding

// About - ProfileImage
.inner-shad {
  box-shadow: inset 0 0 70px 15px #ef4444;
}
// -- About - ProfileImage

